name: JsonDoclet8

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: "1.8"
          distribution: "adopt"
      - name: Test
        run: cd ./plugins/JsonDocletJava8 && ./gradlew testDoclet
